body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* 更亮的灰色作为背景色 */
}

header {
    background-color: #2E4053; /* 深蓝灰色 */
    color: #FDFEFE; /* 更亮的白色 */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plugin {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* 更大的阴影效果 */
    border-radius: 8px;
    text-align: center;
}

.plugin img {
    max-width: 100%; /* 保证图片在容器内完整显示 */
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.plugin h2 {
    color: #5D6D7E; /* 柔和的蓝灰色 */
    margin: 10px 0;
}

.plugin p {
    color: #616A6B; /* 深灰色，提高可读性 */
    font-size: 16px;
    line-height: 1.5; /* 增加行高 */
}

.plugin a {
    display: inline-block;
    text-decoration: none;
    background-color: #5499C7; /* 柔和的蓝色 */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.plugin a:hover {
    background-color: #2980B9; /* 更深的蓝色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 悬停时添加阴影 */
}

footer {
    background-color: #2E4053; /* 与头部相同的颜色 */
    color: #FDFEFE;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    clear: both;
}
.navbar {
    background-color: #333; /* Dark background color */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav-list li a:hover {
    text-decoration: underline;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
  }